<!-- section header -->
<section>
  <div class="parallax"></div>
  <div class="estratevaBK py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col text-center"><img class="img-fluid" src="img/estrateva_wt.png" alt=""></div>
      </div>
    </div>
  </div>
  <div class="parallax"></div>
</section>

<!-- section somos -->
<section id="somos">
  <div class="container py-5">
    <div class="row py-5">
      <div class="col-md-4 col-sm-12 align-self-center text-center"><img src="img/estrateva_bk.png" class="img-fluid " alt=""></div>
      <div class="col-md-8 col-sm-12 align-self-center pl-5 pt-5">
        <p class="text-left">Somos expertos en lograr que alcances tu potencial y los objetivos de tu empresa, analizamos tus necesidades y te proponemos soluciones personalizadas.</p>
        <p class="text-left">Tenemos más de 15 años de experiencia diseñando estrategias creativas con metodologías efectivas que han logrado resultados extraordinarios en la industria.</p>
        <p class="text-left">Disfrutamos lo que hacemos, y lo hacemos con gran entusiasmo, creemos firmemente que la única manera de lograr tus objetivos es volverlos nuestros.</p>
      </div>
    </div>
  </div>
</section>

<!-- section servicios -->
<section id="servicios">
  <div class="estratevaBK py-5">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="text-light">SERVICIO<span class="yell">S</span></h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row py-5 justify-content-between">
      <div class="col-sm-12 col-md-6 col-lg-3 text-center">
        <img class="img-fluid circ" src="img/foco.png" alt="">
        <h4>ESTRATÉGICOS</h4>
        <p class="text-left">Analizamos los productos, procesos, tendencias de mercado, competencia y construimos en conjunto las estrategias que incrementan tu rentabilidad.</p>
        <ul class="text-left">
          <li><span class="yell">•</span> Objetivos Directivos.</li>
          <li><span class="yell">•</span> Costeo y estrategia de Precios.</li>
          <li><span class="yell">•</span> Planeación estratégica.</li>
          <li><span class="yell">•</span> Revenue management.</li>
          <li><span class="yell">•</span> Posicionamiento de marca.</li>
          <li><span class="yell">•</span> Identidad Corporativa.</li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-3 text-center">
        <img class="img-fluid circ" src="img/grafica.png" alt="">
        <h4>VENTAS</h4>
        <p class="text-left">Definimos la mejor forma de comercializar tus productos o servicios, alineándolos a tu estrategia comercial.</p>
        <ul class="text-left">
          <li><span class="yell">•</span> Diseño de nuevos productos.</li>
          <li><span class="yell">•</span> Análisis de rentabilidad de productos existentes.</li>
          <li><span class="yell">•</span> Mejora de Estrategias comerciales.</li>
          <li><span class="yell">•</span> Análisis de canales de venta.</li>
          <li><span class="yell">•</span> Desarrollo de negocios.</li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-3 text-center">
        <img class="img-fluid circ" src="img/gears.png" alt="">
        <h4>FIDELIZACIÓN</h4>
        <p class="text-left">Conseguimos que tus clientes te prefieran y recomienden, te proponemos las mejores opciones en:</p>
        <ul class="text-left">
          <li><span class="yell">•</span> Programas de Lealtad.</li>
          <li><span class="yell">•</span> Cultura de Servicio.</li>
          <li><span class="yell">•</span> CRM.</li>
          <li><span class="yell">•</span> Diseño y evaluación de promociones.</li>
          <li><span class="yell">•</span> Ciclo de vida del Cliente.</li>
          <li><span class="yell">•</span> Estrategias de comunicación.</li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-3 text-center">
        <img class="img-fluid circ" src="img/tag.png" alt="">
        <h4>ESTANDARIZACIÓN</h4>
        <p class="text-left">Cimentamos la base para el continuo crecimiento de tu negocio, dándote herramientas para la fácil evaluación y toma de decisiones.</p>
        <ul class="text-left">
          <li><span class="yell">•</span> KPIS.</li>
          <li><span class="yell">•</span> Paneles de Control.</li>
          <li><span class="yell">•</span> Mejora y optimización de Procesos.</li>
          <li><span class="yell">•</span> Estandarización Operativa.</li>
          <li><span class="yell">•</span> Procedimientos, manuales operativos e instructivos de trabajo.</li>
        </ul>
      </div>
    </div>
  </div>
</section>


<!-- section metodologia -->
<section id="metodologia">
  <div class="estratevaBK py-5">
      <div class="container">
          <div class="row">
              <div class="col text-center">
                  <h1 class="text-light">METODOLOGÍ<span class="yell">A</span></h1>
              </div>
          </div>
      </div>
  </div>

  <div class="container py-5">
    <div class="row justify-content-between py-5 text-center">
      <div class="col-md-12 col-lg-2 align-items-center px-2">
        <img class="img-fluid" src="img/h.png" alt="">
        <ul class="text-center">
          <li>•Amenazas.</li>
          <li>•Oportunidades.</li>
          <li>•Segmentos no atendidos.</li>
        </ul>
      </div>
      <div class="col-md-12 col-lg-2 align-items-center px-2">
        <img class="img-fluid" src="img/a.png" alt="">
          <ul class="text-center">
            <li>•Benchmark.</li>
            <li>•Encuestas.</li>
            <li>•Evaluación de procesos.</li>
            <li>•Revisión de información</li>
          </ul>
      </div>

      <div class="col-md-12 col-lg-2 align-items-center px-2">
        <img class="img-fluid" src="img/c.png" alt="">
        <ul class="text-center">
          <li>•Caso de negocio.</li>
          <li>•Desarrollo de Productos.</li>
          <li>•Posicionamiento.</li>
          <li>•Propuesta Única.</li>
        </ul>
      </div>
      <div class="col-md-12 col-lg-2 align-items-center px-2">
        <img class="img-fluid" src="img/e.png" alt="">
        <ul class="text-center">
          <li>•Ejecución de Promociones.</li>
          <li>•Implementación de Proyectos.</li>
          <li>•Lanzamiento de Productos.</li>
        </ul>
      </div>

      <div class="col-md-12 col-lg-2 align-items-center px-2">
        <img class="img-fluid" src="img/r.png" alt="">
        <ul class="text-center">
          <li>•Balance Score Card.</li>
          <li>•KPIS.</li>
          <li>•Plan de Seguimiento.</li>
        </ul>
      </div>
    </div>

  </div>
</section>

<section id="valor">
  <div class="estratevaBK py-5">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="text-light">PROPUESTA<span class="yell">S</span> DE VALO<span class="yell">R</span></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-around py-5">
      <div class="col-6">
        <h1 class="h3 pb-5"><span class="yell">1.</span>Trabajamos para incrementar tus ganancias.</h1>
        <h1 class="h3 pb-5"><span class="yell">2.</span>Compartimos tu sentido de urgencia.</h1>
        <h1 class="h3 pb-5"><span class="yell">3.</span>Te guiamos paso a paso para lanzar tu proyecto.</h1>
        <h1 class="h3 pb-5"><span class="yell">4.</span>Hacemos que las cosas sucedan.</h1>
        <h1 class="h3 pb-5"><span class="yell">5.</span>Cuidamos la excelencia en los detalles.</h1>
        <h1 class="h3 pb-5"><span class="yell">6.</span>Si incumplimos lo pactado en el contrato, el servicio es gratis.</h1>
      </div>
    </div>
  </div>
</section>

<div class="estratevaBK py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col text-center"><img class="img-fluid" src="img/estrateva_wt.png" alt=""></div>
        </div>
    </div>
</div>

<section id="contacto">
  <div class="container">
    <div class="row">
      <div class="col mt-5">
        <p class="text-left text-secondary">
          (33) 1234-4567 <br>
          contacto@estrateva.com.mx
        </p>
        <hr>

        <form action="/process" method="POST">
          <div class="form-group row mt-3">
            <div class="col-sm-12 col-md-4">
              <label for="name">Nombre:</label>
              <input type="text" class="form-control" placeholder="Nombre" name="nombre">
            </div>
            <div class="col-sm-12 col-md-4">
              <label for="email">Email:</label>
              <input type="email" class="form-control" placeholder="email" name="email">
            </div>
            <div class="col-sm-12 col-md-4">
              <label class="text-left" for="phone">Teléfono:</label>
              <input type="text" class="form-control" placeholder="teléfono" name="telefono">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
              <label for="message"> Mensaje:</label>
              <textarea class="form-control" name="mensaje" id="" cols="30" rows="10"></textarea>
            </div>
          </div>
          <button type="submit" class="btn btn-warning btn-lg text-light mb-3 yellBtn">Enviar</button>
        </form>

      </div>
    </div>
  </div>
</section>